[submodule "DialogosEngine"]
	path = DialogosEngine
	url = https://github.com/NaXzyu/DialogosEngine
[submodule "DialogosBootloader"]
	path = DialogosBootloader
	url = https://github.com/NaXzyu/DialogosBootloader
[submodule "DialogosLexicon"]
	path = DialogosLexicon
	url = https://github.com/NaXzyu/DialogosLexicon
